button{ 
    margin-left: 150px;
     padding: 12px; 
     background-color: rgb(119, 66, 119);
     font-size: 15px; 
     font-family: 'Times New Roman', Times, serif;
     border-radius: 15px;
     border-width: 10px;
     border-color: aquamarine;
     border-style: ridge;
}

body{
    background-color: rgb(93, 121, 111);
}

p{
    margin-left: 200px;
    background-color: azure; 
    margin-right: 180px;
    padding-left: 10px;
}

h1{
    background-color: aqua;
     padding-left: 200px;
     padding-top: 15px;

}